.App {
  display: flex;
  flex-direction: column;
}

.App-container {
  margin-top: 100px;
  width: 900px;
}

.App-logout-btn  {
  align-self: flex-end;
  width: 100px;
}

@media screen and (max-width: 960px) {
  .App-container {
    width: 600px;
  }
}

@media screen and (max-width: 660px) {
  .App-container {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .App-container {
    width: 300px;
  }
}
