.Settings-title {
  font-size: 32px;
  font-weight: 500;
}

.Settings-content {
  padding: 40px;
}

.Settings-button {
  margin-top: 20px !important;
}

.Settings-back_button {
  margin-bottom: 20px !important;
}
