body {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 20px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #f5f5f5;
}

h1 {
  margin: 0;
}
